<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Full path to your GUI exe -->
    <add key="ReaderExePath" value="D:\Khanij2.0-GitNew - 290623\khanij2.0-UAT\Conveyor\CreateFolder\WeightometerReader\bin\Debug\WeightometerReader.exe" />
    <!-- Process name without .exe -->
    <add key="ReaderProcessName" value="WeightometerReader" />
    <!-- Check interval in seconds -->
    <add key="CheckIntervalSeconds" value="10" />
    <add key="LogDirectory" value="D:\Khanij2.0-GitNew - 290623\khanij2.0-UAT\Conveyor\CreateFolder\WeightometerHelper\bin\Debug" />
    
  </appSettings>
</configuration>
