<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="UserName" value="4021008501"/>
    <add key="Password" value="Shree@123"/>
    <add key="ConveyorMake" value="Siemens"/>
    <add key="ConveyorModel" value="CSM"/>
    <!--<add key="ConveyorModel" value="OLD"/>
    <add key="ConveyorModel" value="CSM"/>
    <add key="ConveyorModel" value="HEX"/>-->
    <!--In minuts (every SyncIntervalMinutes to sync data into server)-->
    <add key="SyncIntervalMinutes" value="1"/>
    <!--In seconds (every DataCaptureFrequency to capture data localy)-->
    <add key="DataCaptureFrequency" value="60"/>
    <!--In minuts (every AggregationMinutes that should collect aggregate data from local server to push)-->
	  <add key="AggregationMinutes" value="2"/>
    <add key="WatchdogServiceExePath" value="D:\Khanij2.0-GitNew - 290623\khanij2.0-UAT\Conveyor\CreateFolder\WeightometerWatchdogService\bin\Debug\WeightometerWatchdogService.exe"/>
    <add key="Module" value="CSM"/>

    <add key="Port" value="COM5"/>
    <add key="Baud" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="Parity" value="None"/>
    <add key="StopBits" value="One"/>
    <add key="Encoding" value="latin1"/>

    <add key="BackupFolder" value="D:\Khanij2.0-GitNew - 290623\khanij2.0-UAT\Conveyor\Local Database" />
    <add key="BackupIntervalMinutes" value="15" />

    <!--<add key="KhanijLiveApiPath" value="http://localhost/KHANIJAPI/api/" />-->
    <!--<add key="KhanijLiveApiPath" value="http://desktopapiv2.khanij.cgstate.gov.in/api/" />-->
    <add key="KhanijLiveApiPath" value="http://khanij2desktopapiv2.csmpl.com/api/" />
    
  </appSettings>
  <connectionStrings>
    <add name="KhannijDb"
         connectionString="Data Source=localhost;Initial Catalog=KHANIJ_CONVE;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
