<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Full path to your GUI exe -->
    <add key="MonitoredExePath" value="D:\Khanij2.0-GitNew - 290623\khanij2.0-UAT\Conveyor\CreateFolder\WeightometerReader\bin\Debug\WeightometerReader.exe" />
    <!-- Process name without .exe -->
    <add key="MonitoredProcessName" value="WeightometerReader" />
    <!-- Check interval in seconds -->
    <add key="CheckIntervalSeconds" value="5" />
  </appSettings>
</configuration>
